# Need this for the adk config file
export ADK_HOME=$PWD
export PATH=$ADK_HOME/bin:$PATH
export RUBYLIB=$ADK_HOME/lib:$ADK_HOME/deps/cobbler/contrib/ruby/lib

# For the msot recent appliance creator and ec2-converter
export PATH=$ADK_HOME/deps/act/tools:$PATH
export PYTHONPATH=$ADK_HOME/deps/act:$PYTHONPATH

# For the most recent livecd tools
export PATH=$ADK_HOME/deps/livecd/tools:$PATH
export PYTHONPATH=$ADK_HOME/deps/livecd:$PYTHONPATH

# for the most recent virt-convert code
export PATH=$ADK_HOME/deps/virtinst--devel:$PATH
export PYTHONPATH=$ADK_HOME/deps/virtinst--devel:$PYTHONPATH

# The following is for cobbler integration
cobbler_hostname: localhost
cobbler_user: testing
cobbler_password: testing
